*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    text-align: center;
    color:black;
    background-color: beige;
}
h4{
    color: black;
    text-shadow: 0cm;
}
#nama1{
    text-align: center;
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
}
#deskripsi1{
    margin-right: 150px;
    margin-left: 150px;
}
.content{
    margin-right: 150px;
    margin-left: 150px;
    text-align: center;
}
